.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f4f8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(56, 119, 238, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 95, 239, 1);
}
